//Single


main {
	&.single,
	&.page {
		.post-type {
			//@include heading-img-height;
			margin: 32px auto 22px;
		}
		.date {
			font-size: 12px;
		}
		h1 {
			//font-size: 16px;
			//@include heading-img-height;
		}
		
		h2{
			@media #{$bp-pc} {
				margin-right: 75px;
				br{
					display:none;
				}
			}
			@media #{$bp-sp} {
				margin-top:48px;
				margin-right: 0px;
			} 
		}
		&.shop-list {
			.post-thumbnail {
				align-items: center;
			}
		}
		.mv_b {
			.group {
				.content {
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
					align-content: flex-end;
					.belong {
						margin-bottom: 10px;
						font-size: 16px;
					}
					.title {
						margin: 10px 0 10px;
						font-size: 32px;
					}
					.en {
						margin: 10px 0 10px;
						font-size: 18px;
					}
				}
			}
		}
	}
}