

//Variables
//Width

//Break point
$bp-large: 'screen and (max-width: 1220px)';
$bp-pc: 'screen and (max-width: 959px)';
$bp-tab: 'screen and (max-width: 767px)';
$bp-sp: 'screen and (max-width: 640px)';

//Font
$font-normal: 100% / 1.5 #{'rem'};
$font-large: 100% / 2 #{'rem'};

//Color
$color-white: #FFFFFF;
$color-black: #000000;
$color-grey: #808080;
$color-light-grey: #c8c8c8;
$color-red: #FF0000;
$color-green: #00FF00;
$color-blue: #0000FF;
$color-yellow: #FFFF00;
$color-nav-hover: #999999;

//Hover
$hover-transition: 0.3s;
$hover-opacity: 0.5;
$hover-filter-opacity: 50;


//Space
$space-small : 10px;
$space-normal : 15px;
$space-large : 30px;


//Border
$border:1px solid #{$color-black};

@mixin border-bottom {
  border-bottom:$border;
}

//Button
@mixin text-hide {
  overflow:hidden;
  text-indent:100%;
  white-space:nowrap;
  display:block;
}

//Cleafix
@mixin clearfix {
  &:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow:hidden;
    font-size:0em;
    line-height:0;
  }
}


@mixin contents_list($width){
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &::before{
    content:"";
    display: block;
    width:$width;
    order:1;
  }
  &::after{
    content:"";
    display: block;
    width:$width;
  }
  li{
    width:$width;
    flex-basis: $width;
  }
}

